
<p> eje1</p>

@if (usuarioLogueado) {
<p>Bienvenido!</p>
}

@if (usuarioLogueado) {
<button (click)="cerrarSesion()">Cerrar sesión</button>
} @else {
<button (click)="iniciarSesion()">Iniciar sesión</button>
}

<hr>

<p>eje2</p>

<h4>Lista de productos</h4>
<button (click)="vaciarlista()">Vaciar lista</button>
<hr>
<input [(ngModel)]="busqueda" placeholder="Buscá un producto...">

<hr> 

@for (producto of productos; track producto.id; let i = $index) {
<p>{{ i + 1 }}.{{ producto.nombre }}: ${{ producto.precio }}</p>
} @empty {
<p>No hay productos disponibles.</p>
}

<hr>








